
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$YouTube-API-primary: mat-palette($mat-indigo);
$YouTube-API-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$YouTube-API-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$YouTube-API-theme: mat-light-theme((
  color: (
    primary: $YouTube-API-primary,
    accent: $YouTube-API-accent,
    warn: $YouTube-API-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($YouTube-API-theme);

/* You can add global styles to this file, and also import other style files */

*{
  box-sizing:border-box;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.custom-delay-100ms{
  animation-delay: 100ms;
}

.custom-delay-150ms{
  animation-delay: 150ms;
}

.custom-delay-200ms{
  animation-delay: 200ms;
}

.custom-delay-250ms{
  animation-delay: 250ms;
}

.custom-delay-300ms{
  animation-delay: 300ms;
}

.custom-delay-350ms{
  animation-delay: 350ms;
}

.custom-delay-400ms{
  animation-delay: 400ms;
}

.custom-delay-450ms{
  animation-delay: 450ms;
}

.custom-delay-500ms{
  animation-delay: 500ms;
}

.custom-delay-550ms{
  animation-delay: 550ms;
}

.custom-delay-600ms{
  animation-delay: 600ms;
}

.custom-delay-700ms{
  animation-delay: 700ms;
}

.custom-delay-800ms{
  animation-delay: 800ms;
}

.custom-delay-900ms{
  animation-delay: 900ms;
}