:root{
    // --primary-color: #F56639;
    --primary-color: #E63946;

    --main-background-color: #1E252B;
    --light-background-color: #353F48;

    --main-text-color: #C3C5C7;

    --header-height: 70px;
    --tabs-height: 60px;
}

.mainContent{
    min-height: calc(100vh);
    padding:10px;
    padding-bottom: calc(var(--tabs-height) + 10px);
    padding-top: calc(var(--header-height) + 10px);
    background-color: var(--main-background-color);
}