:root{
    --primary-color: #F56639;
    --main-background-color: #1E252B;
    --main-text-color: #C3C5C7;

    --header-height: 80px;
    --tabs-height: 80px;
}

.mainContent{
    min-height: calc(100vh - var(--header-height));
    padding:10px;
    padding-bottom: calc(var(--tabs-height) + 10px);
    background-color: var(--main-background-color);
}