<header class="mainHeader">
    <div class="imageContainer">
        <mat-icon 
            *ngIf="headerService.showBackButton" 
            (click)="headerService.buttonClicked()">arrow_back</mat-icon>
        <img src="../../../assets/mainLogo.svg" alt="">
    </div>
    <div *ngIf="headerService.searchButton" class="searchBox">
        <input 
            *ngIf="searchOpen" 
            [@searchBox]
            #searchInput
            placeholder="Search" 
            type="text"
            (keydown)="onKeydown($event)">
        <div *ngIf="searchOpen" (click)="toggleSearchBar()" class="closeButton">
            <mat-icon>close</mat-icon>
        </div>
        <mat-icon (click)="searchOpen  ? searchButtonClicked(searchInput) : toggleSearchBar()">search</mat-icon>
    </div>
</header>
