header.mainHeader{
    padding:10px;
    background-color: var(--main-background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
    position: fixed;
    width:100%;
    top: 0px;
    left: 0px;
    z-index: 9999;
    .imageContainer{
        height:100%;
        padding:10px 0px;
        width:135px;
        mat-icon{
            cursor: pointer;
            color: white;
            margin-right: 10px;
        }
        img{
            max-width: 100%;
            max-height: 100%;
        }
    }
    h1{
        margin:0px;
        color: var(--primary-color);
    }
    .searchBox{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 65%;
        input{
            border: none;
            padding: 5px 30px 5px 10px;
            border-radius: 5px;
            max-width:300px;
            width:90%;
            background-color:white;
        }
        .closeButton{
            position: absolute;
            right:45px;
            mat-icon{
                color: rgb(27, 27, 27);
            }
        }
        mat-icon{
            margin-left: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--main-text-color);
        }
    }
}